<p>
 <mat-toolbar>
  <span>BLOG</span>
  <span class="spacer"></span>
  <ul class="nav h-100 w-50 d-flex justify-content-end">
   <li class="nav-item h-100 w-25">
     <button class="h-100 w-100" mat-raised-button>
      <a [routerLink]="[ '/blog']" class="nav-link">
             blog
      </a>
     </button>
   </li>
   <li class="nav-item h-100 w-25">
    <button class="h-100 w-100" mat-raised-button>
      <a [routerLink]="[ '/adminBlog']" class="nav-link">
           admin
      </a>
     </button>
   </li>
   </ul>
  </mat-toolbar>
 </p>


